/* Accordion Chevron Animation */
.AccordionChevron {
  transition: transform 300ms;
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

/* Accordion Content Animation */
.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* Glow Effect */
.glow {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 2px #56dc6e, 0 0 4px #56dc6e, 0 0 6px #2acb47,
      0 0 8px #2acb47, 0 0 10px #2acb47, 0 0 12px #2acb47, 0 0 14px #2acb47;
  }
  to {
    box-shadow: 0 0 3px #56dc6e, 0 0 6px #187729, 0 0 9px #187729,
      0 0 12px #187729, 0 0 15px #187729, 0 0 18px #187729, 0 0 21px #187729;
  }
}
